

.enderecos2{
        background: rgb(97,91,235);
        background: radial-gradient(circle, rgba(97,91,235,1) 0%, rgba(241,239,247,1) 0%, rgba(11,35,103,1) 100%);

        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: -20rem;
        padding: 30px;
        border: solid 2px #051F40;
}

.foto-contatos2 img{
        width: 300px;
        margin: 10px 20px 10px auto;
    
}

.contatos2 h3{
        font-size: 30px;    
        margin-top: -15px;
        color: #141414;
}

.contatos2 h2{
        font-size: 50px;
        color: #b83eaa;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: #141414;
}

.contatos2 p{
        font-size: 30px;
        color: #051F40;
        text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF
}

.botoes{
    justify-content: center;  
    align-items: center;  
    gap: 1rem;
}

    .btn{
    background: #141414;    
    margin-top: 20px;
    line-height: 52px;
  
}


@media (max-width: 999px){
        .enderecos2{
                flex-direction: column;
                padding-top: 5px;
        }
        .foto-contatos2 img{
                margin-top: 0px;
        }
        .contatos2 h2{
                font-size: 40px;
                margin-bottom: 10px;
        }  
        .contatos2 p{
                font-size: 20px;
                font-weight: bold;
                text-shadow: 0 0 0.1em #FFF, 0 0 0.1em #FFF, 0 0 0.1em #FFF
             
        }
}