@media (max-width:799px){
    

    header .slogan{
        font-size: 18px;
        padding-right: 15px;
    }

    /*Principal*/
    .apresentacao{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .apresentacao .imagem{
        width: 300px;
    }

    .apresentacao .título{
        font-size: 25px;
        text-align: center;
        margin: 2px 8px 30px 8px;
        -webkit-text-stroke-width: 0.5px;
    }

    hr{
        border-color: #AAA;
        box-sizing: border-box;
        width: 100%;
    }

   .apresentacao .subtítulo{
        font-size: 25px;
        margin: 30px 8px 10px 8px; 
    }
    
    .apresentacao .descrição{
        font-size: 20px;
        margin: 0px 10px 0px 10px;
    }



    /*Apresentação*/
    .sobre_nos{
        flex-direction: column;
    }

    .tm_design{
        padding: 8px;
    }

    .tm_design p{
        margin-top: 15px;
    }

    .tm_design h2{
        margin-bottom: 15px;
    }

    button::after {
    top: 50%;
    left: 50%;
    }


    /*Nossos Trabalhos*/

    .cta {
    font-size: 35px; 
    width: 420;  
    }

    

    .sobre_tm_desing{
    margin-left: 20px;
    margin-right: 20px;
    }


   
    /*Contatos*/
    .enderecos{
        background: rgb(97,91,235);
        background: radial-gradient(circle, rgba(97,91,235,1) 0%, rgba(241,239,247,1) 0%, rgba(11,35,103,1) 100%);

        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 60px;
        gap: -10rem;
        border-radius: 100%;
        border: none;
        overflow: hidden;
    }

    .foto-contatos img{
    width: 130px;
    margin-top: 0px auto;
    
    }

    .contatos h3{
    margin-top: -70px;
    color: #141414;
    }

    .contatos h2{
        color: #044C98;
    }

    .botoes{
    justify-content: center;  
    align-items: center;  

    margin-top: 15px;
    margin-bottom: 80px;
    gap: 1rem;
    }

    .btn{
    color: #fff;
    font-size: 30px;
    width: 55px;
    height: 45px;
    background: #141414;
    line-height: 50px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    }

   


    /*impressos*/
    .impressos{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .impressos h1{
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 25px;
    }

   
    .impressos h2{
        font-size: 20px;
        margin-bottom: 8px;
    }

    .impressos h3{
        font-size: 18px;
    }

    .impressos img{
        margin-top: 10px;
        margin-bottom: 15px;
    }


    .rodape{
        margin-top: 100px
    }

    .rodape h4{
        font-size: 12px;
    }

    

}

@media (min-width:699px){
    hr{
    display: none;
    }
}



