section .container2{
    height: 40px;
    background: #051F40;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

section .mobile-menu{
   cursor: pointer;
}

.mobile-menu div{
    margin-top: 8px;
    width: 25px;
    height: 2px;
    background: #AAA;
    transition: 0.3s;
} 

section .nav-list{
    
    font-size: 20px;
    margin-top: 8px;
    list-style: none;
    display: flex;

}

section li{
    letter-spacing: 2px;
    margin-left: 40px;
}


section nav a{
    text-decoration:none;
    color:#F5F7F8;
    transition: 0.3s;
}

section nav a:hover{
    font-size: 25px;
    color: #044C98;  
    opacity: 0.7;
}